form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}

form label {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin: 0.3rem;
}

form button {
    background-color: #0a1118;
    color: white;
    padding: 10px 20px;
    border: black;
    cursor: pointer;
    width: 50%;
    display: inline;
    margin: 0 auto;
}
