div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

div label {
  margin-top: 10px;
}

div input {
  margin-left: 10px;
  font-size: 22px;
}

div button {
  width: 100px;

  margin-top: 10px;
}


img {
  max-width: 200px;
}